@page
@model IdentityServer.Pages.Account.MFA.Register

<h2 style="text-align: center;">Register the MFA by scanning the qr code or manually entering the code in to your authenticator app</h2>
<div style="border: black;">

    <h3 style="display: flex;justify-content: center;">QR Code</h3>
    <img src="@($"data:image/png;base64,{Model.Input.QrImage}")" class="img-fluid rounded mx-auto d-block" width="250" height="250" alt="@Model.Input.AuthenticatorCode"/>
    <p class="text-center q-color">@Model.Input.AuthenticatorCode</p>
</div>